// 
// Signup
// 

.signup-section {
    position: relative;
    padding: 10rem 0;
    background: linear-gradient(to bottom,
        #{fade-out($black, 0.9)} 0%,
        #{fade-out($black, 0.5)} 75%,
        $black 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.signup-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0) 30%),
                url("../../assets/img/VWR_Project_Management_.png") center center/cover no-repeat;
    filter: grayscale(100%);
    z-index: 1;
    opacity: 0.7; /* Adjust this if necessary */
}

.signup-section * {
    position: relative;
    z-index: 2; /* Ensure content appears above the image */

    .form-signup {
        input {
            box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
            padding: 1.25rem 2rem;
            height: auto;
            font-family: $font-family-special;
            font-size: 80%;
            text-transform: uppercase;
            letter-spacing: 0.15rem;
            border: 0;
        }
    }
}